script.
    import U from "./Util.js"
    import LockDropDown from "./LockDropDown.pug"

    const onLockChange = (e) => {
        let checked = !!e.target.checked
        let charType = e.target.dataset.nameFor

        if ( charType ) dataObj[charType].locked = checked
    }

    let dataObj = {
        archtype: {
            locked: false,
            items: ["Addicted","Bigot","Cursed","Dishonest","Gullible"]
        },
        verts: {
            locked: true,
            items: ["Introverted","Extravorted"],
        },
        roles: {
            locked: false,
            items: ["Army Vet","Astronaut","Aunt","Babysitter","Baseball Player"]
        },
        "myers-briggs": {
            locked: false,
            items: ["Create New Ideas", "Enjoy Others", "Help Others", "Plan Things", "Be a Leader"]
        }
    }

    const shuffleData = () => {
        for (const property in dataObj) {
            if (!dataObj[property].locked) {
                dataObj[property].items = U.ArrayUtil.shuffle(dataObj[property].items) 
            }
        }
    }

main

    h1 Character Aid

    button(on:click="{shuffleData}") Generate

    LockDropDown(
      name="Archtype" 
      listItems="{dataObj.archtype.items}"
      locked="{dataObj.archtype.locked}"
      {onLockChange}
    )

    LockDropDown(
      name="Verts" 
      listItems="{dataObj.verts.items}"
      locked="{dataObj.verts.locked}"
      {onLockChange}
    )

    LockDropDown(
      name="Roles" 
      listItems="{dataObj.roles.items}"
      locked="{dataObj.roles.locked}"
      {onLockChange}
    )

    LockDropDown(
      name="Myers-Briggs" 
      listItems="{dataObj['myers-briggs'].items}"
      locked="{dataObj['myers-briggs'].locked}"
      {onLockChange}
    )



//    pre. 
//        "{JSON.stringify(dataObj)}"

style.
    main {
        text-align: center;
        padding: 1em;
        margin: 0 auto;
    }

    h1 {
        color: #ff3e00;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: 100;
    }

    @media (min-width: 640px) {
        main {
            max-width: none;
        }
    }
